@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@font-face {
    font-family: 'sevenSegment' ;
    src: url('../fonts/SevenSegment.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
}
.navbar-nav2{
    display: flex;
    list-style: none;
    margin: 2px;
    padding: 0;
}
.part1 img{
    width: 50vw;
    margin: 20px;
}

#about {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}

#about p {
    margin-bottom: 20px;
    text-align: justify;
}

#about strong {
    color: #0078d4;
    font-weight: bold;
}

#about br {
    display: block;
    content: ' ';
    margin: 10px 0;
}
.svg1{
    margin-top:-500px;
}
@media screen and (max-width: 991px) {
    .main{
        display: block;
    }
    .part1 img{
        width: 100vw;
    }
    .tutorial details a{
        text-align: center;
    }
    .topmenu{
        display: none;
    }
   
    .svg1{
        margin-top:-200px;
    }
}

#mainid{
    /* display: none; */
    margin: 0;
}
.topmenu{
    font-size: 0.8em;
    background: #000;
}
.topmenu a{
    padding: 0 auto;
    margin: 0 auto;
    height: 30px;
    color: #fff;
}

.marquee{
    height: 50px;
    background: #0099ff;
    font-size: 2.2em;
    padding: 2px 10px;
    text-align: center;
}

.tutorial summary .card {
    /* width: 200px; */
    height: 200px;
    list-style: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.tutorial .card i {
    font-size: 3.2em;
    color: red;
    font-weight:500;
    text-align: center;
    display: block;
}

.tutorial .card li {
    font-size: 2.5em;
    color: blue;
    font-weight: bold;
    text-align: center;
}

.tutorial summary .card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.tutorial summary {
    color: transparent;
}

.tutorial details a {
    display: block;
    text-decoration: none;
    padding: 2px;

}
.tutorial details a:hover{
    font-weight: 900;
}

#goToTopBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #eb4242;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
}

#goToTopBtn:hover {
    background-color: #555;
}

.hidden {
    display: none;
}
footer{
    font-size: 0.8em;
}
#samay{
    font-family: sevenSegment;
    position: fixed;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    bottom: 8px;
    left: 8px;
    font-size: 1.1rem;
    font-weight: 100;
    text-shadow: 3px 3px 5px #b12828;
    color: #ebe042;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
}

.videos iframe{
    padding: 5px; 
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2)
}

.t-red {
    color: red;
}

.t-purple {
    color: purple;
}

.t-blue {
    color: blue;
}

.t-teal {
    color: teal;
}

.t-cyan {
    color: cyan;
}

.t-orange {
    color: orange;
}

.t-green {
    color: green;
}

.t-yellow {
    color: yellow;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .loader-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-radius: 50%;
    border-top: 5px solid transparent;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  } 
  
  

  
  #navbarSupportedContent li a {
    position: relative;
    transition: color 0.3s ease; 
  }
  
  #navbarSupportedContent li a::after {
    content: '';
    position: absolute;
    width: 80%;
    /* margin-left: 10%; */
    height: 2px; 
    bottom: 0;
    left: 0;
    background-color: #ebe2e2; 
    transform: scaleX(0); 
    transform-origin: right center;
    transition: transform 0.3s ease; 
  }
  
  #navbarSupportedContent li a:hover::after {
    transform: scaleX(1); 
    transform-origin: left center;
  }
  
  .stu-service{
    justify-content: space-around;
}
.stu-ser{
    border: 1px solid #5a5050;
    height: 180px;
    width: 250px;
    margin: 10px;
    padding-top: 20px;
    text-decoration: solid;
    color: #fff;
    perspective: 1000px;
    position: relative;
}
.stu-ser .flip{
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.stu-ser.flip .flipbox1,
.stu-ser.flip .flipbox2 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.stu-ser .row .col{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
}

.stu-ser .row {
    position: relative;
}
#fifthSem .stu-ser{
    padding: 0;
}
#fifthSem .stu-ser video{
    width: 100%;
    height: 77%;
    /* background: #000; */
}
#fifthSem .stu-ser img{
    width: 100%;
    height: 80%;
}
#fifthSem .stu-ser p{
    height: 20%;
    padding: 5px;
}

.carousel-item .stu-ser p{
    padding: 0px;
}
.flipbox1, .flipbox2 {
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    background-color: #9C27B0;
    margin-top: -20px;
    padding-top:60px;
    height: 178px;
    /* border: 1px solid green; */
}

.flipbox2 {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #248bda;
    padding: 0;
}

.flipbox1 {
    transform: rotateY(0deg);
    backface-visibility: hidden;
    font-size: 1.3em;
}
.backflip{
    background-color: #3535af;
    border: 1px solid darkblue;
    height: 45px;
    list-style: none;
    padding: 8px;
    text-align: left;
    font-size: 0.8em;
}
.backflip a{
    text-decoration: none;
    color: #fff;
}
.backflip:hover{
    background-color: #6767d8;
    border: 1px solid #0000ff;
}
  
.gradient-bg {
    background: linear-gradient(to bottom left, #FF5733, #FFC300, #33FF57);
    width: 100%;
    padding: 50px 0;
  }
  #contactus{
    background: #0099ff;
  }

  #searchTutorials{
    background: #000;
    padding: 100px 0;
    min-height: 500px;
    position: relative;
  }
  /* #searchTutorials *{
    border: 1px solid red;
    color: #d5eb16;
  } */

  
.search-container {
    display: flex;
    align-items: center;
    max-width: 400px; 
    margin: 0 auto; 
  }
  
 #searchInput {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  #searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }  
 
  .autocom-box {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    max-height: 200px; 
    overflow-y: auto;
    display: none; 
    z-index: 1;
    top: 198px;
  }
  .autocom-box .autocomplete-item:hover{
    background: #e1e2e4;;
  }
  #results{
    color: #fff;
    justify-content: space-around;
  }
  